---
---
<!DOCTYPE html>
<html lang=en>
  <head>
  
  {% include head.html %}
    
      <link rel="stylesheet" href="/styling/nav.css">
      <link rel="stylesheet" href="/styling/about.css">

  </head>

  <body>
        

{% include about_header.html %}

<main>
  <section class="about-section" >
   
    <div class="about-content">
      <h1>About me</h1>
     <p>Hello there! Welcome to my blog. </p>
      <p>Let me tell you about myself. I am a Software engineer based in Naivasha, Kenya. Curently finishing my bachelor's degree in Software Engineering.</p>
       <p>Over the last few months , I have been working on learning Artificial Intellingence and Mobile Application Development.As the year goes by, am looking forward to working on more projects.</p> 

    </div>

 
  </section>
 <section class="contact-me">
   <div class="contact-content">
   <h1>Contact me</h1>
   <p>If you would like to work with me on something or just chat, look me up in one of this platforms.
  </p>
  <div class="contact-info">
    <ul> 
      <li><a href="/blog.html" style="color: black;">Github</a></li>
      <li><a href="/about.html" style="color: black;">Twitter</a></li>
      <li><a href="/index.html" style="color: black;">LinkedIn</a></li>
    </ul>
  </div>
  </div>
 </section>
</main>
    </body>
</html>