---
---
<!DOCTYPE html>
<html lang=en>
  <head>
  
  {% include head.html %}
    
      <link rel="stylesheet" href="/styling/nav.css">
      <link rel="stylesheet" href="/styling/about.css">

  </head>

  <body>
        

{% include about_header.html %}

<main>
  <section class="about-section" >
   <h1 id="about-name">Sheba Marcelah</h1>
    <div class="about-content">
      
      <h1>About me</h1>
     <p>Hello there! Welcome to my blog. </p>
      <p>Let me tell you about myself. I am a writer based in Nairobi, Kenya , with a passion for poetry .</p>
       <p>I love reading them, listening to them , singing them, and on rare occassions you may find me engaged in a live narration.</p> 
       <p>It's my hope that as you read through the lines , you may enjoy reading as I did writing.</p>

    </div>

 
  </section>
 <section class="contact-me">
   <div class="contact-content">
   <h1>Contact me</h1>
   <p>If you would like to work with me on something , get your poem featured on this platform or just chat, look me up in one of this platforms.
  </p>
  <div class="contact-info">
    <ul> 
      <li><a href="/about.html" style="color: black;">Twitter</a></li>
      <li><a href="/index.html" style="color: black;">Instagram</a></li>
    </ul>
  </div>
  </div>
 </section>
</main>
    </body>
</html>