---
---

<!DOCTYPE html>
<html lang=en>
  <head>    
    {% include head.html %}

      <link rel="stylesheet" href="/styling/nav.css">
      <link rel="stylesheet" href="/styling/home.css">

  </head>

  <body>

    {% include blog_header.html %}
<main>
  <section >
    <p id="intro">Am a prolific writer and poet striving to be better. My mission is to help people understand and appreciate the world. Below are some of my latest articles and poems I have been working on. </p>
   
  {{content}}

  </section>
</main>
    </body>
</html>