---
---

<!DOCTYPE html>
<html lang=en>

<head>
  {% include head.html %}

  <link rel="stylesheet" href="/styling/nav.css">

</head>

<body>
  <ion-app>
    {% include work_header.html %}
    <ion-content>
      <ion-card style="box-shadow: none !important;color: black;">
        <ion-card-content>
          Am a prolific writer and poet striving to be better. My mission is to help people understand and
          appreciate the world. Here are some of my top picks.
        </ion-card-content>
      </ion-card>

      {{content}}
    </ion-content>

  </ion-app>
</body>

</html>