---
---

<!DOCTYPE html>
<html lang=en>
  <head>    
    {% include head.html %}

      <link rel="stylesheet" href="/styling/nav.css">
      <link rel="stylesheet" href="/styling/index.css">

  </head>

  <body>

    {% include work_header.html %}
<main>
  <div id="intro-block">
    <p id="intro">A Gemini baby with a talent and love for art. She is all about game. A game of words. Let's play along.</p>
    <p id="intro"> Here are some of my top picks.</p>

  </div>
  {{content}}

</main>
    </body>
</html>