section{
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 20px
}
section img{
  
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 210px;
    object-fit: cover;
}
.title{
    /*font-size: 34px;
    font-family: sans-serif;
    line-height: 38px;
    font-weight: 600;*/
    font-size: 28px;
    font-family: sans-serif;
    line-height: 16px;
    font-weight: 400;
  }

  .caption{
    font-size: 12px;
    font-family: sans-serif;
    line-height: 12px;
    font-weight: 300;
  }

  @media only screen and (max-width: 600px) {
section{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
}
section img{
  
   margin: 0px;
    width: 85vw;
    height: auto;
}
.caption{
  font-size: 8px;
  font-family: sans-serif;
  line-height: 12px;
  font-weight: 50;
}
.title{
  font-size: 14px;
  font-family: sans-serif;
  line-height: 16px;
  font-weight: 100;
}
  }